 /* 公共样式 */
 *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
 }
 html,body,#app{
    width: 7.5rem;
    height: 100%;
 }
 .zqd_ul .van-nav-bar__text{
   color: #000 !important;
   font-size: 0.12rem;
}
.zqd_ul .van-icon{
      color: #000 !important;
 }
